body {
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    gap:5px;
    width: 50%;
}
input {
    border-radius: 10px;
    padding: 5px;
}
button {
    border-radius: 10px;
    padding: 5px;
    background-color: blue;
    border: none;
    color: white;
    margin-top: 10px;
}
label {
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
