.first-sentence {
    font-weight:bold;
}
.info {
    background-color:gray;
    padding:8px;
}
body {
    font-family: fantasy;
    color: rgb(199, 177, 14);
}

#landscape {
    width: 250px;
}
<style>
 #hopper-pic {
     width: 100px;
     float: left;
     margin-right: 6px;
     margin-bottom: 6px;

 }
#hopper-footer {
    background-color: rgb(232, 232, 232);
    padding: 6px;
    clear: both;
}

#hopper-links {
    float: right;
    width: 30%;
    margin-left: 10px;
}
</style>
  p {
      font-family: sans-serif;
  }

#donut-header {
    font-family: "Garamond", "Palatino", serif;
}

.fact {
    border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid rgb(222, 222, 222);
    padding-top: 6px;
    padding-bottom: 6px;
}